:root {
  --color-1: #2e384d;
  --color-2: #65809f;
  --color-3: #6d9500;
  --color-4: #8798ad;
  --color-5: #d59600;
}
* {
  text-decoration: none;
  list-style: none;
  border-color: transparent;
  font-style: normal;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}
.logo {
  max-width: 13rem;
  margin-top: 5px;
}
.navbar {
  display: flex;
  background-color: var(--color-1);
  width: 100%;
  padding: 25px 00px;
  justify-content: space-around;
  width: auto;
}
.nav-items {
  margin-top: 10px;
}
.nav-menu {
  display: flex;
  gap: 1rem;
  margin-top: 0.4rem;
}
.contact-btn {
  background-color: var(--color-5);
  color: white;
  padding: 7px 30px;
  cursor: pointer;
}
.right-nav {
  display: flex;
  gap: 70px;
}
.banner {
  display: flex;
  justify-content: center;
  background: linear-gradient(103.35deg, #3d64f0 -3.34%, #c730ed 146.9%);
  padding: 100px 50px 0px 50px;
  max-height: 405px;
}
.leaf-img {
  position: absolute;
  left: 155px;
  top: 505px;
  max-width: 30rem;
}
.img1 {
  max-width: 40rem;
  max-height: 35rem;
}
h2 {
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  padding-bottom: 20px;
}
h3 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: #ffd28e;
}
.banner-tag {
  width: 100%;
  margin-top: 40px;
  margin-left: 400px;
}
.green {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #6d9500;
}
h5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-1);
  padding: 0.5rem 0rem;
}
p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-2);
  padding: 2rem 0rem;
}
.about {
  display: flex;
  justify-content: space-evenly;
  padding: 150px 20px 100px 20px;
  background: #f3f7ff;
}
.about-right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-left {
  margin-top: 5rem;
  max-width: 600px;
}
.card {
  background-color: white;
  padding: 10px;
  width: 13rem;
  height: 13rem;
  text-align: center;
}
.card-img {
  margin-top: 50px;
}
.card-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #6d9500;
  text-align: center;
}
.about-card {
  display: flex;
  margin-top: 0px;
}
.up {
  margin-top: -40px;
}
.concern-container {
  text-align: center;
  padding: 100px;
  overflow: hidden;
  display: grid;
  justify-content: space-evenly;
}
.concern-title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 48px;
  color: var(--color-1);
}
.limit {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.arrow-left {
  position: relative;
  top: -103px;
  right: 139px;
}
.arrow-right{
  rotate: 90deg;
  top: -104px;
  position: relative;
  left: 70px;
}
.arrow-rightdown {
  rotate: 180deg;
  top: 104px;
  position: relative;
  left: 70px;
}
.arrow-leftdown {
  rotate: 270deg;
  top: 104px;
  position: relative;
  right: 140px;
}
.concern {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px 0px;
  gap: 100px;
}
.concern-head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-1);
}
.border-middle {
  border-right: 1px solid #e2e8ff;
  padding-right: 50px;
}
.concern-img {
  height: 22rem;
  max-width: 30rem;
}
.bg {
  background: #f8f8ff;
}
.award-card {
  background-color: white;
  padding: 40px;
  width: 12.5rem;
  height: 10rem;
  text-align: center;
  box-shadow: 0px 0px 50px rgba(104, 136, 250, 0.1);
}
.award-arrow {
  position: relative;
  top: -100px;
  right: 172px;
}
.award2-arrow {
  position: relative;
  top: -100px;
  right: 168px;
}
.award-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 26px;
  text-align: center;
  color: var(--color-3);
}
.award-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.award-img {
  max-width: 5rem;
  max-height: 5rem;
}
.gallery-container {
    text-align: center;
    padding-top: 100px;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 0;
}
.gallery img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.gallery-img-title {
 position: relative;
 bottom: 100px;
}
.image-container {
  position: relative;
}
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.2;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0.6;
}
.image-container:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 116, 255, 0.6);;
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.image-container:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  height: 18.4rem;
  border: 1px solid #fff;
  z-index: 2;
  opacity: 1;
  transition: all 1s ease;
}
.image-container:hover::before,
.image-container:hover::after {
  opacity: 1;
}
.newsroom-container {
  text-align: center;
  padding: 100px 200px;
  background: #f8f8ff;
}
.newsroom {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  padding-top: 4rem;
  justify-content: center;
}
.default-card {
  background: white;
  width: 22rem;
  padding-bottom: 14px;
}
.card-body {
  padding: 10px 20px;
  text-align: left;
}
.newsroom img {
  width: 22rem;
}
.newsroom-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #2E384D;
  max-width: 19rem;
  padding-top: 10px;
}
.newsroom a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 22px;
  color: #D59600;
}
.newsroom p {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.newsroom-green{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #6D9500;
}
.footer-container {
  background-color: #32446a;
  margin: auto;
  padding: 80px 30px 50px 30px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}
.footer-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 30rem;
  color: #8798AD;
  padding: 0px;
  max-width: 300px;
}
.footer-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form {
  height: 25px;
  width: 350px;
  padding: 10px;
  background-color: #F2F2F2;
  margin-bottom: 20px;
}
.subscribe-btn {
  background-color: var(--color-5);
  color: white;
  padding: 7px 15px;
  cursor: pointer;
}
.footer-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container img {
  max-width: 13rem;
  margin-bottom: 25px;
  margin-top: -20px;
}
.subscribe-form input::placeholder {
  color: gray;
}
.icon-bg{
  background-color: #0f2045;
  padding: 10px 12px;
  font-size: 14px;
  cursor: pointer;
}
.foot-container{
  background-color: var(--color-1);
  height: 80px;
}
.foot-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 30px;
}
.arrow-icon {
  position: absolute;
  right: 150px;
  margin-top: -10px;
  font-size: 1rem;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 6px;
  cursor: pointer;
}
.circle-img {
  position : relative;
  left: 270px;
  top: -460px;
}
.group1-img {
  position: relative;
  top: -485px;
  left: 60px;
}
.path362-img{
  position: absolute;
  right: 100px;
  top: 100px;
  max-width: 3rem;
}
.group3-img{
  position: absolute;
  right: 100px;
  top: 500px;
  max-width: 3rem;
}
.path28-img {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.path30-img {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1600px) {
  .banner-tag {
    margin-right: 0px;
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1400px) {
  .banner-tag {
    margin-right: 0px;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .banner-tag {
    margin-right: 0px;
    margin-left: 0px;
  }
}