:root {
  --color-1: #2e384d;
  --color-2: #65809f;
  --color-3: #6d9500;
  --color-4: #8798ad;
  --color-5: #d59600;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 65%;
    }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 70%;
    }
}
@media only screen and (min-width: 992px) {
  html {
  font-size: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  html {
  font-size: 90%;
  }
}
@media only screen and (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}

* {
  text-decoration: none;
  list-style: none;
  border-color: transparent;
  font-style: normal;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}
/** Navbar **/
.logo {
  max-width: 13rem;
  margin-top: 5px;
}
.navbar {
  display: flex;
  background-color: var(--color-1);
  width: 100%;
  padding: 25px 00px;
  justify-content: space-evenly;
  width: auto;
}
.nav-items {
  margin-top: 10px;
}
.nav-menu {
  display: flex;
  gap: 1rem;
  margin-top: 0.4rem;
}
.contact-btn {
  background-color: var(--color-5);
  color: white;
  padding: 7px 30px;
  cursor: pointer;
}
.right-nav {
  display: flex;
  gap: 70px;
}
/** Mobile Nav**/
.mob-menu {
  display: none;
  opacity: 0;
}

.mob-menu.active {
  display: grid;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/** Banner **/
.banner {
  display: flex;
  justify-content: center;
  background: linear-gradient(103.35deg, #3d64f0 -3.34%, #c730ed 146.9%);
  padding: 100px 50px 0px 50px;
  max-height: 405px;
}
.leaf-img {
  position: absolute;
  left: 155px;
  top: 505px;
  max-width: 30rem;
}
.img1 {
  max-width: 640px;
}
h2 {
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  padding-bottom: 20px;
}
h3 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: #ffd28e;
}
.banner-tag {
  width: 100%;
  margin-top: 40px;
  margin-left: 400px;
}
/** About **/
.green {
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #6d9500;
}
h5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-1);
  padding: 0.5rem 0rem;
}
p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--color-2);
  padding: 2rem 0rem;
}
.about {
  display: flex;
  justify-content: space-evenly;
  padding: 150px 20px 100px 20px;
  background: #f3f7ff;
}
.about-right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-left {
  margin-top: 5rem;
  max-width: 600px;
}
.card {
  background-color: white;
  padding: 10px;
  width: 208px;
  height: 208px;
  text-align: center;
}
.card-img {
  margin-top: 50px;
}
.card-text {
  font-family: "poppins";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #6d9500;
  text-align: center;
}
.about-card {
  display: flex;
  margin-top: 0px;
}
.up {
  margin-top: -40px;
}
.concern-container {
  text-align: center;
  padding: 100px;
  overflow: hidden;
  display: grid;
  justify-content: space-evenly;
}
.concern-title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 48px;
  color: var(--color-1);
}
.limit {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.arrow-left {
  position: relative;
  top: -103px;
  right: 139px;
}
.arrow-right{
  rotate: 90deg;
  top: -104px;
  position: relative;
  left: 70px;
}
.arrow-rightdown {
  rotate: 180deg;
  top: 104px;
  position: relative;
  left: 70px;
}
.arrow-leftdown {
  rotate: 270deg;
  top: 104px;
  position: relative;
  right: 140px;
}
.concern {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px 0px;
  gap: 100px;
}
.concern-head {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-1);
}
.border-middle {
  border-right: 1px solid #e2e8ff;
  padding-right: 50px;
}
.concern-img {
  height: 22rem;
  max-width: 30rem;
}
.bg {
  background: #efeff9;
}
.award-card {
  background-color: white;
  padding: 40px;
  width: 200px;
  height: 160px;
  text-align: center;
  box-shadow: 0px 0px 50px rgba(104, 136, 250, 0.1);
}
.award-arrow {
  position: relative;
  top: -100px;
  right: 172px;
}
.award2-arrow {
  position: relative;
  top: -100px;
  right: 168px;
}
.award-card-text {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--color-3);
}
.award-cards {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
}
.award-img {
  max-width: 80px;
  max-height: 80px;
}
.gallery-container {
    text-align: center;
    padding-top: 100px;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 0;
}
.gallery img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.gallery-img-title {
 position: relative;
 bottom: 100px;
}
.image-container {
  position: relative;
}
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.2;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.image-container:hover .caption {
  opacity: 1;
}
.image-container:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 116, 255, 0.6);;
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.newsroom-container {
  text-align: center;
  padding: 100px 200px;
  background: #efeff9;
}
.newsroom {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  padding-top: 4rem;
  justify-content: center;
}
.default-card {
  background: white;
  width: 22rem;
  padding-bottom: 14px;
}
.card-body {
  padding: 10px 20px;
  text-align: left;
}
.newsroom img {
  width: 22rem;
}
.newsroom-heading {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #2E384D;
  max-width: 19rem;
  padding-top: 10px;
}
.newsroom a {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 22px;
  color: #D59600;
}
.newsroom p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.newsroom-green{
  font-family: 'poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18px;
  color: #6D9500;
}
.footer-container {
  background-color: #32446a;
  margin: auto;
  padding: 80px 30px 50px 30px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}
.footer-text{
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 30rem;
  color: #8798AD;
  padding: 0px;
  max-width: 300px;
}
.footer-heading {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form {
  height: 25px;
  width: 20rem;
  padding: 10px;
  background-color: #F2F2F2;
  margin-bottom: 20px;
}
.subscribe-btn {
  background-color: var(--color-5);
  color: white;
  padding: 7px 15px;
  cursor: pointer;
}
.footer-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container img {
  max-width: 13rem;
  margin-bottom: 25px;
  margin-top: -20px;
}
.subscribe-form input::placeholder {
  color: gray;
}
.icon-bg{
  background-color: #0f2045;
  padding: 10px 12px;
  font-size: 14px;
  cursor: pointer;
}
.foot-container{
  background-color: var(--color-1);
  height: 80px;
}
.foot-text{
  font-family: 'poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 30px;
}
.arrow-icon {
  position: absolute;
  right: 150px;
  margin-top: -10px;
  font-size: 1rem;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 6px;
  cursor: pointer;
}
.circle-img {
  position : relative;
  left: 270px;
  top: -460px;
}
.group1-img {
  position: relative;
  top: -485px;
  left: 60px;
}
.path362-img{
  position: absolute;
  right: 100px;
  top: 100px;
  max-width: 3rem;
}
.group3-img{
  position: absolute;
  right: 100px;
  top: 500px;
  max-width: 3rem;
}
.path28-img {
  position: absolute;
  top: 16.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.path30-img {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1600px) {
  .banner-tag {
    margin-right: 50px;
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1400px) {
  .banner-tag {
    margin-right: 50px;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .banner-tag {
  margin-right: 20px;
  margin-left: 50px;
  }
  .img1{
  max-width: 490px;
  }
  .banner{
  max-height: 310px;
  }
  .leaf-img{
  top: 426px;
  left: 126px;
  }
  .circle-img{
  top: -380px;
  max-width: 50%;
  left: 210px;
  }
  .group1-img{
  top: -385px;
  left: 40px;
  max-width: 40%;
  }
  .about-card{
    padding-right: 50px;
  }
  .award-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .path28-img {
    top: 21%;
    left: 55%;
    width: 5%;
  }
  .path30-img {
    top: 24%;
    left: 55%;
    width: 4%;
  }
  @media only screen and (max-width: 992px) {
    .leaf-img{
      top: 436px;
      left: 133px;
    }
    .img1 {
      max-width: 350px;
    }
    .banner{
      max-height: 222px;
      }
      .banner-tag{
        margin-top: 0px;
      }
      .leaf-img{
      top: 348px;
      left: 40px;
      }
      .circle-img{
      top: -260px;
      max-width: 40%;
      left: 140px;
      }
      .group1-img{
      top: -277px;
      left: 40px;
      max-width: 30%;
      }
      .footer-text{
        font-size: 1rem;
        max-width: 180px;
      }
      .concern{
        gap: 40px;
      }
      .about{
        display: grid;
        gap: 80px;
        justify-content: center;
        text-align: center;
      }
      .about-left {
        margin-top: -100px;
      }
  }
  @media only screen and (max-width: 767px) {
    .footer-container{
      grid-auto-flow: row;
      gap: 40px;
      justify-content: center;
      padding: 100px;
      text-align: center;
      margin: auto;
    }
    .middle {
      padding-left: 20px;
    }
    .footer-left img {
      padding-left: 50px;
    }
    .newsroom {
      grid-auto-flow: row;
    }
    .limit{
      max-width: 60rem;
    }
    .newsroom-container{
      padding: 50px 50px;
    }
    .concern {
      display: grid;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .border-middle{
      border: 0px;
      padding-right: 0px;
    }
    .navbar{
      display: none;
    }
    .leaf-img {
      display: none;
    }
    h2 {
      font-size: 1.4rem;
    }
    h3{
      font-size: 1.6rem;
    }
    /** Mobile Nav Starts**/
    .mob-nav{
      display: grid;
      grid-auto-flow: column;
      background-color: var(--color-1);
      justify-content: space-evenly;
      padding: 10px;
    }
    .mob-nav img {
      max-width: 60%;
      vertical-align: middle;
    }
    .hamburger{
      color: white;
      font-size: 20px;
    }
    .hamburger-container {
      display: grid;
      grid-auto-flow: column;
      gap: 20px;
    }
    .contact-btn {
      padding: 0px 10px;
      font-size: 10px;
    }
    .mob-menu {
      display: none;
    }
    .mob-menu.active {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 60vw;
      display: grid;
      gap: 10px;
      background-color: #0f2045;
      padding: 10px 40px;
      text-align: center;
      border: 1px solid;
      padding-top: 30px;
      width: 22vw;
      z-index: 100;
      font-size: 14px;
    }
    .x-icon {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 16px;
      color: red;
      cursor: pointer;
      border: 1px solid white;
      padding: 4px;
    }
    
    /** Mobile Nav Ends**/
    .path28-img {
      top: 10%;
    }
    .path30-img {
      top: 12%;
    }
    .path362-img {
      top: 8%;
    }
    .group1-img {
      left: 14%;
      top: -168%;
    }
    .img1 {
      max-width: 300px;
    }
    .banner{
      max-height: 140px;
      padding: 50px 0px;
      margin-left: -10px;
    }
    .circle-img {
      top: -160%;
      left: 40%;
    }
    .banner-tag {
      margin-left: -40px;
    }
    .about-left {
      padding: 0px 20px;
    }
    .award-cards {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      justify-content: center;
      padding: 0px 100px;
      margin-left: 60px;
    }
    .about-card {
      padding-right: 0px;
      display: grid;
      justify-content: center;
    }
    .concern-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .subscribe-form input::placeholder {
      text-align: center;
    }
    .text-fix {
      padding-left: 20px;
    }
    .award-img {
      padding-left: 20px;
    }
    .award-card {
      max-width: 66%;
    }
    .award-cards {
      padding-top: 50px;
    }
    .arrow-icon {
      right: 40px;
    }
  }
  @media only screen and (max-width: 420px) {
    h3 {
      font-size: 1.4rem;
      line-height: 18px;
    }
    h2 {
      font-size: 1.2rem;
      line-height: 15px;
    }
    .img1 {
      max-width: 200px;
    }
    .banner {
      max-height: 78px;
    }
    .circle-img {
      top: -200%;
      left: 32%;
      max-width: 35%;
    }
    .group1-img {
      top: -215%;
      left: 12%;
      max-width: 25%;
    }
    .path362-img {
      max-width: 5%;
      right: 10%;
    }
    .path30-img {
      top: 11%;
    }
  }
  }